.md_findyour-product {
    background-color: $blue;
    padding: 62px 0;
    overflow: hidden;
    @media screen and (max-width: 1024.95px) {
        padding: 42px 0;
    }
    @media screen and (max-width: 767.95px) {
        padding: 32px 0;
    }
    .md_ss-heading {
        margin-top: 62px;
        @media screen and (max-width: 1220.95px) {
            margin-top: 52px;
        }
        @media screen and (max-width: 991.95px) {
            margin-top: 0;
            margin-bottom: 42px;
            text-align: center;
        }
        @media screen and (max-width: 767.95px) {
            margin-top: 0;
            margin-bottom: 28px;
            text-align: center;
        }
    }
    .mdfp_container {
        position: relative;
        padding-left: 36px;
        @media screen and (max-width: 991.95px) {
            padding-left: 0;
        }
        .mdfp_img {
            position: absolute;
            left: 36px;
            right: 0;
            z-index: 1;
            @media screen and (max-width: 991.95px) {
                left: 0;
                text-align: center;
            }
            @media screen and (max-width: 413.95px) {
                img {
                    min-height: 163px;
                }
            }
        }
        .mdfp_row {
            position: relative;
            padding: 100px 80px 0;
            z-index: 2;
            @media screen and (max-width: 1220.95px) {
                padding: 100px 60px 0;
            }
            @media screen and (max-width: 1199.95px) {
                padding: 86px 60px 0;
            }
            @media screen and (max-width: 991.95px) {
                padding: 86px 30px 0;
                width: 556px;
                max-width: 100%;
                margin: 0 auto;
            }
            @media screen and (max-width: 767.95px) {
                padding: 64px 24px 0;
            }
            @media screen and (max-width: 460.95px) {
                padding: 34px 24px 0;
            }
            .mdfp-title {
                margin: 0 0 26px;
                color: $blue;
                font-size: 16px;
                font-weight: $fw-bold;
                @media screen and (max-width: 1199.95px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 991.95px) {
                    text-align: center;
                }
                @media screen and (max-width: 767.95px) {
                    line-height: 20px;
                    margin: 0 0 16px;
                }
            }
            .md_form {
                .form-control {
                    @media screen and (max-width: 767.95px) {
                        height: 40px;
                    }
                }
                .btn {
                    &.btn-blue {
                        padding: 0 40px;
                        @media screen and (max-width: 767.95px) {
                            padding: 0 20px;
                            height: 40px;
                            line-height: 38px;
                        }
                    }
                }
            }
        }
    }
}