//Font
$font-default: 'Montserrat',
sans-serif;
//Font Weight
$fw-light: 300;
$fw-default: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
// Color
$white: #fff;
$grey: #949494;
$off-grey:#c0c0c0;
$light-grey: #f9f9f9;
$blue: #2a3a7a;
$off-blue: #273570;
$red:#f1645d;
$off-black:#221f20;
$default-color: #7d7d7d;
$border-color: #a3a3a3;